<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<h3>this page will show brand details </h3>

<!--Add form-->

<div>
  <form class="form-inline" id="inventory-form">
    <div class="form-group">
      <label for="inputProductBarcode" class="col-sm-2 col-form-label">Barcode</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="barcode" id="inputProductBarcode" placeholder="barcode">
      </div>
    </div>
    <div class="form-group">
      <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="quantity" id="inputQuantity" placeholder="Quantity">
      </div>
    </div>
    <button type="button" class="btn btn-primary" id="add-inventory">Update</button>
    &nbsp;
    <!--      <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>-->
    &nbsp;
    <!--      <button type="button" class="btn btn-primary" id="upload-data">Upload</button>-->
  </form>
  <h5 id="status" style="color:red;"></h5>
</div>

<!--table-->

<div>
  <table class="table table-striped table-dark" id="inventory-table">
  <thead>
  <tr>
    <th scope="col">Product Id</th>
    <th scope="col">Quantity</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
  </table>
</div>

<!--update popup html-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-inline" id="updateInventoryForm">

          <div class="form-group">
            <label for="inputUpdateBarcode" class="col-sm-2 col-form-label">Barcode</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="barcode" id="inputUpdateBarcode" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="inputUpdateQuantity" class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
              <input type="number" min="0" class="form-control" name="quantity" id="inputUpdateQuantity">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="update-inventory-add">Add</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="update-inventory-remove">Remove</button>
      </div>
    </div>
  </div>
</div>

</body>

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/inventory.js}"/></script>

</html>